<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../css/adminstyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="admin_lg.html" class="w3-bar-item w3-button"><span class="fa-solid fa-plane"></span>&nbsp;&nbsp;Landing Page</a>
    <a href="admin_doctors.html" class="w3-bar-item w3-button"><span class="fa-solid fa-stethoscope"></span>&nbsp;&nbsp;Doctors</a>
    <a href="admin_services.html" class="w3-bar-item w3-button"><span class="fa-solid fa-wrench"></span>&nbsp;&nbsp;Services</a>
    <a href="admin_userhome.html" class="w3-bar-item w3-button"><span class="fa-solid fa-user-doctor"></span>&nbsp;&nbsp;User's Home</a>

</div>

<div class="w3-main" style="margin-left:200px">
    <div class="w3-teal w3-container">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
        <a class="w3-bar-item w3-button" href="/">Admin Panel</a>
        <a class="w3-bar-item w3-button" href="/index"><span class="fa-solid fa-globe"></span> View Website</a>
        <a class="w3-bar-item w3-button" href="/login">Logout</a>
    </div>

    <div class="w3-container">
        <h1 class="page-header">Add Image</h1>
        
        <form method="post" enctype="multipart/form-data" th:object="${albumDto}" class="form-background">
            <div class="form-group w3-row">
                <label class="w3-col s4">
                    Image
                </label>
                <div class="w3-col s8">
                    <input class="w3-input" type="file" th:field="${albumDto.image}">
                    <p th:if="${#fields.hasErrors('image')}" class="w3-text-red" th:errors="${albumDto.image}"></p>
                </div>
            </div>

            <div class="form-group w3-row button-group">
                <button type="submit" class="w3-button w3-blue">Submit</button>
                <a class="w3-button w3-red" href="/album" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
